<br />
<div class="message" style="float: none; font-size: 80%">
  <center>&#126;&#126;&#126;</center>
  By the way, I'm a Christian; not the best Christian there is, of course.
  <br />
  Some people might even call me a hypocrite sometimes.
  <br />
  Some Christians might even disown me.
  <br />
  But if you are a curious person and want to start learning about Christianity, you can start <a href="https://www.gotquestions.org/what-is-the-gospel.html"><span class="orange-text">here</span></a>.
  —  That link contains the most important message of Christianity.
  <br />
  Enjoy!
  <center>&#126;&#126;&#126;</center>
</div>