
<div class="message">
    <blockquote>
        <p>"I regard free speech as a prerequisite to a civilized society, because freedom of speech means that you can have combat with words. That's what it means. It doesn't mean that people can happily and gently exchange opinions. It means that we can engage in combat with words, in the battleground of ideas. And the reason that that's acceptable, and why it's acceptable that people's feelings get hurt during that combat, is that the combat of ideas is far preferable to actual combat."</p>
        <p>&mdash;  <a href="https://en.wikiquote.org/wiki/Jordan_Peterson">Jordan Peterson</a></p>
    </blockquote>
</div>