
code.highlighter-rouge { // copied from css in https://int3ractive.com/2019/01/common-linux-macos-commands.html
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

div.highlighter-rouge {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

blockquote {
    color: #5f5f5f;
    font-style: normal;
    padding: .5rem 1rem;
    font-size: 105%;
    border-left: .40rem solid #eee;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

// pre {
//     display: block;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
// }

// for rougue code blocks with line numbers
// override highligh pre from monokai.scss
.highlight {  
    td.gutter pre {
        padding: 0;
        margin-bottom: 0;
    }

    td.code pre {
        padding: 0 0.5em;
        margin-bottom: 0;
    }

    pre {
        font-size: 87.5%;
        line-height: 1.3;
    }
}
  
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p a, a {
    color: #6a9fb5;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 1.1em;
}

img {
    max-width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

img.emoji {
    box-shadow: none;
    display: inline;
    margin: 0;
    border-radius: 0;
}

// CSS Attribute Selectors: https://www.w3schools.com/css/css_attribute_selectors.asp
iframe[src^="https://www.youtube.com/embed/"], // ^ means "starts with"
embed[src$=".pdf"],
// $ means "ends with"
div.youtube
{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
    // margin-bottom: 1rem;
    padding: 1rem;
    color: #717171;
    background-color: #f9f9f9;
    font-size: 90%;
    // float: right; //this is to fix the display of "message" in production when it is when used in non-block HTML elements such as <span>
}

.message-compressed {
    width: 15em;
}

.float-right {
    float: right;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.float-left {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}


