
code.highlighter-rouge { // copied from css in https://int3ractive.com/2019/01/common-linux-macos-commands.html
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

blockquote {
    color: #5f5f5f;
    font-style: italic;
    padding: .5rem 1rem;
    margin: .8rem 0;
    font-size: 105%;
    border-left: .25rem solid #eee;

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

p a {
    color: #6a9fb5;
    text-decoration: none;

    :hover {
        background: #6a9fb5;
        color: #fff;
        text-decoration: underline;
    }    
}